.back-button {
  color: #ffffff;
  margin-left: 10px;
}

.back-button-text {
  display: none;
}

.ctnbtn{
  margin: 0 auto;
  widows: 100%;
  text-align: center;
}

.regbutton {
    width:55%;
    margin: 40px auto 20px auto;
    background:#ea2429;
    color:#ffffff;
    font-family:ubuntu;
    font-weight: bold;
    font-size:18px;
}
