.logo{
    text-align:center;
    position: fixed;
    top:90px;
    left:0;
    right:0;
}

.logo img{
    width:30%;
}

.tx1{
    color:#ea2429;
    font-family:ubuntu;
    font-weight: 500;
    font-size:15px;
    text-align:center;
    position: relative;
    margin-top:70%;
}

.swiper-pagination-bullet {
    background: #ea2429;
    opacity: 0.3;
  }

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom:5%;
}
  
.swiper-pagination-bullet-active {
    background: #ea2429;
    opacity: 1;
    }

.btn1{
    position: fixed;
    bottom: 20%;
    width:55%;
    left:0;
    right:0;
    margin: 0 auto;
    background:#ea2429;
    color:#ffffff;
    font-family:ubuntu;
    font-weight: bold;
    font-size:18px;
}

.btn2{
    position: fixed;
    bottom: 10%;
    width:55%;
    left:0;
    right:0;
    margin: 0 auto;
    background:#ea2429;
    color:#ffffff;
    font-family:ubuntu;
    font-weight: bold;
    font-size:18px;
}